{% extends "templates/base.html" %}

{% block title %}Admin{% endblock %}

{% block head %}
    {{ super() }}
    <script src="/static/admin/admin.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/admin/admin.css" />
{% endblock %}

{% block content %}
    <h1 style="padding-left: 20px;">Admin</h1>
    <div id="adminContent" style="display: inline-block">
        <ul>
            <li>
                <h2>Upload</h2>
                <div>
                    <span><a href="/admin/parse">Upload single item</a></span>
                </div>
                <div>
                    <span><a href="/admin/fileUpload">Upload file</a></span>
                </div>
            </li>
            <li>
                <h2>Index</h2>
                <div>
                    <span>Refresh Index:</span>
                    <button id="updateSearchIndex">Update</button>
                </div>
            </li>
            <li>
                <h2>Edit Item</h2>
                <div>
                    <span>Item Key:</span> <input id="itemKeyInput" type="text" value="" /><button id="editItemButton">Edit</button>
                </div>
            </li>
            <li>
                <h2>Admins</h2>
                <ul>
                    {% for admin in admins %}
                    <li>{{ admin.alias }} - {{ admin.email }} <a style="font-size: 12px;" href="/admin/removeadmin?key={{ admin.key() }}">[remove]</a></li>
                    {% endfor %}
                </ul>
                <div>
                    <h3>Add Admin</h3>
                    <div>
                        <table>
                            <tr><td>Alias:</td><td><input id="addAdminAlias" type="text" size="20"></td></tr>
                            <tr><td>Email:</td><td><input id="addAdminEmail" type="text" size="20"></td></tr>
                            <tr><td colspan="2"><button id="addAdminButton">Add</button></td> </tr>
                        </table>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div style="float: right; display: inline-block; vertical-align: top; margin-right: 40px ">
        <h2>Database Status:</h2>
        <table style="padding: 20px; border: 1px solid; ">
            <tr>
                <td><span>Number of items in database: </span></td>
                <td style="padding-left: 10px;"><span style="font-weight: bold; color: lawngreen">{{ total_items }}</span></td>
            </tr>
            <tr>
                {% if total_items != total_index %}
                    {% set index_color = "red" %}
                {% else %}
                    {% set index_color = "lawngreen" %}
                {% endif %}
                <td><span>Number of items in index: </span></td>
                <td style="padding-left: 10px;"><span style="font-weight:bold; color: {{ index_color }}">{{ total_index }}</span></td>
            </tr>
        </table>
        <h2>Recent Activity:</h2>
        <ul class="messageList">
            {% for message in messages %}
            <li><span dateValue="{{ message.date.isoformat() }}"></span> -
                {{ message.owner }}
                - <span class="message" message="{{message.message|e}}"></span>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}