{% extends "templates/base.html" %}

{% block title %}File Parse{% endblock %}

{% block head %}
    {{ super() }}
    <script src="/static/admin/admin.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/admin/admin.css" />
    <script src="/static/admin/fileparse.js"></script>
{% endblock %}

{% block content %}
    <div class="mainContent">
        <span id="error">

        </span>
        <ul style="margin-bottom: 0px">
            <li>
                <h2>File Parse Results</h2>
            </li>
            <li><span>upload checked items: </span><button id="upload">Upload</button></li>
        </ul>
        <div class="leftContent">
            <ul id="itemList">
                {% for item in items %}
                <li id="resultItem{{loop.index}}" class="resultItem" itemNum="{{loop.index}}">
                    <input checked type="checkbox" id="checkItem{{loop.index}}" itemNum="{{loop.index}}"><span>{{ item.name }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="rightContent listNoIndent">
            <ul>
                {% for item in items %}
                <li id="outputItem{{loop.index}}" class="outputItem">
                    <ul>
                        <li>
                            <span style="display: inline-block;">source:</span>
                        </li>
                        <li>
                            <textarea disabled id="displaySourceArea" cols="85" rows="20" placeholder='' rows='5'>{{ item.source_string|e }}</textarea>
                        </li>
                        <li>result [<a href="" class="editLink" itemNum="{{loop.index}}">edit</a>]:</li>
                        <li>
                            <textarea disabled id="displayStringArea" cols="85" rows="20" placeholder='' rows='5'>{{ item.to_string()|e }}</textarea>
                        </li>
                        <li class="editItem" style="display: none;">
                            <table>
                                {% set itemNum = loop.index %}
                                {% for key, value in item_dicts[loop.index-1].iteritems() %}
                                <tr>
                                    <td><span>{{key|e}}</span></td>
                                    <td><input class='editInput' type="text" size="80" editForItem="{{itemNum}}" key="{{key|e}}" value="{{value|e}}" /></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}