{% extends "templates/base.html" %}

{% block title %}File Upload{% endblock %}

{% block head %}
    {{ super() }}
    <script src="/static/admin/admin.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/admin/admin.css" />
    <script src="/static/admin/fileparse.js"></script>
{% endblock %}

{% block content %}
    <div class="mainContent">
        <ul><li>
            <h2>Upload - Multiple Item</h2>
        </li></ul>
        <div class="leftContent">
            <form action="{{ upload_url }}" method="post" enctype="multipart/form-data" >
                <ul>
                    <li>
                        <input type="file" name="file" />
                    </li>
                    <li>
                        <input type="submit" name="submit" value="Parse" />
                    </li>
                </ul>
            </form>
        </div>
    </div>
{% endblock %}