{% extends "templates/base.html" %}

{% block title %}Parser{% endblock %}

{% block head %}
    {{ super() }}
    <script src="/static/admin/admin.js"></script>
    <script src="/static/admin/singleParse.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/admin/admin.css" />
{% endblock %}

{% block content %}
    <div class="mainContent">
        <ul><li>
            <h2>Upload - Single Item</h2>
        </li></ul>
        <div class="leftContent">
            <ul>
                <li style="padding-bottom: 10px">
                    <span style="display: inline-block;">input:</span>
                    <button id="doParse" style="float: right;">Parse</button>

                </li>
                <li>
                    <textarea id='input' cols="85" rows="40" placeholder='Input goes here.' rows='5'></textarea>
                </li>

            </ul>
        </div>

        <div class="rightContent">
            <ul>
                <li style="padding-bottom: 10px">
                    <span style="display: inline-block;">string:</span>
                    <button id="upload" style="float: right;">Upload</button>
                </li>
                <li>
                    <textarea disabled id="stringArea" cols="85" rows="20" placeholder='' rows='5'></textarea>
                </li>
                <li>
                    <span>xml:</span>
                </li>
                    <div id="outputArea"></div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}