{% extends "templates/base.html" %}

{% block title %}Tools - XPXP{% endblock %}

{% block head %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="/static/tools/tools.css" />
    <script src="/static/tools/tools.js"></script>
    <script type="text/javascript" src="/static/jquery.watermark.js"></script>
{% endblock %}

{% block content %}
    <div>
        <ul>
            <li>
                <h2>What is XPXP</h2>
                <table>
                    <tr><td colspan="3" style="padding-bottom: 20px;"><span style="font-size: 16px; font-weight: bold; color: #808080;">Use the command <i>time</i> or <i>forecast</i> and enter the data below.</span></td> </tr>
                    <tr>
                        <td style="vertical-align: top;">
                            <table>
                                <tr><td><span>Next New Moon:</span></td><td><input id="moon" type="text" size="30" /></td></tr>
                                <tr><td><span>Eclipse Start:</span></td><td><input id="eclipse" type="text" size="30" /></td></tr>
                            </table>
                        </td>
                        <td style="vertical-align: top; padding-left: 30px; padding-right: 30px;"><span>or</span></td>
                        <td>
                            <textarea id="full_text" rows="15" cols="65" placeholder="[Medievia Star]  [      EARTH TIME      ]
Gets Light:      Sat Jan 10 07:18:00 2015 Fog Starts
Sun Rises:       Sat Jan 10 07:56:00 2015
Sun Sets:        Sat Jan 10 17:18:00 2015 Fog Starts
Gets Dark:       Sat Jan 10 17:56:00 2015

[Medievia Moon]  [      EARTH TIME      ]
Next New Moon:   Sat Jan 10 19:10:46 2015 Fae Clams making Frae
Next Full Moon:  Sun Jan 18 07:10:46 2015
Eclipse Start:   Sun Jan 11 13:55:46 2015 Fae Clams making Stae
Eclipse End:     Sun Jan 11 21:22:14 2015"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><button id="calculateResult">Calculate</button></td>
                        <td></td>
                        <td></td>
                </table>

                <br/>

            </li>
            <li class="result">
                <h2>Result</h2>
                <table>
                    <thead><td class="xpxpColumn">XPXP</td><td>remove storm</td><td>create rainstorm</td><td>locate serpents</td></thead>
                    <tr>
                        <td><span id="resultXPXP"></span></td>
                        <td><span id="resultRemoveStorm"></span></td>
                        <td><span id="resultCreateRainstorm"></span></td>
                        <td><span id="resultLocateSerpents"></span></td>
                    </tr>
                </table>
                <div style="border: 1px black solid; display: inline-block">Debug info:
                    <div style="margin-left: 20px">
                        <b>XPXP formula</b><br />
                        Power:      2 + days until the next solar eclipse <br />
                        Duration:   2 + days until the next new moon<br />
                        Frequency:  2<br /><br />

                        <b>Rem storm formula</b><br />
                        Power:      3 + days until the next solar eclipse <br />
                        Duration:   6 + days until the next new moon <br />
                        Frequency:  90 <br /><br/>
                        <span id="debug"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}