/* global element styles */
html{
    overflow-y: scroll;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "open sans", sans-serif;
}

#content{
    font-family: Merriweather, Georgia, Times, serif;;
}

ul{
    list-style: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

#content ul{
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a{
    text-decoration: none;
    color: blue;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    text-decoration: none;
    color: blue;
}

/* banners and splash screens */
.topBannerContainer{
    background: #221E1D;
    color: white;
    padding: 0;
    margin: 0;
}

.topBannerContainer a{
    color: white;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.topBannerContainer a:visited{
    color: white;
}

.topBannerContainer li{
    display: inline-block;
    position: relative;
    line-height: 40px;
}

.topBannerContainer li ul{
    display: none;
}

.topBannerContainer li:hover{
    background: #373C3F;
}

.topBannerContainer li:hover ul{
    display: block;
    background: #221E1D;
    position: absolute;
}

.topBannerContainer li:hover li{
    float: none;
    display: block;
}

.topBannerLeft{
    float: left;
    padding-left: 40px;
}

.topBannerRight{
    float: right;
    padding-right: 40px;
}

.splash{
    color: #333333;
    display: block;
    font-family: 'Russo One', sans-serif;
    font-size: 48px;
    text-align: center;
    margin-top: 70px;
}

.miniSplash a{
    color: #333333;
    display: inline-block;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.miniSplash a:hover{
    text-decoration: none;
}

.miniSplash a:visited{
    color: white;
    text-decoration: none;
}

/* search bars */
#searchBar{
    font-size: 20px;
    color: black;
    padding: 3px;
    margin: 0px;
    outline: 0px;
    border: 1px solid #adadad;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 100%;
}

#searchForm{
    display: block;
    position: relative;
    width: 425px;
    margin: 0px auto;
    z-index: 1;
    padding: 0px;
    color: #ccc;
}

#searchIcon{
    display:block;
    width: 24px;
    height:24px;
    background:url('/static/search_icon.gif') 4px 4px no-repeat;
    position: absolute;
    right: -3px;
    top: 4px;
    color: #FFD100;
    cursor: pointer;
    outline: none;
    text-decoration: underline;
    text-align: center;
}

/* user login/logout elements */
#userInfoItem{
    padding: 0;
    font-size: 12px;
    color: #808080;
    text-align: right;
    line-height: 40px;
}

#userInfoItem:hover{
    background: #221E1D;
}

#userInfoItem div{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#userInfoItem .email{
    font-weight: bold;
    line-height: normal;
}

#userInfoItem .signOut{
    line-height: normal;
    display: inline;
}

#userInfoItem img{
    vertical-align: middle;
    border: 1px solid #acacac;
    margin-left: 8px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    width: 30px;
    height: 30px;
}