/* global element styles */
body{
    margin: 0px;
    padding: 0px;
    font-family: "open sans", sans-serif;
}

ul{
    list-style: none;
}

a{
    color: #808080;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    text-decoration: none;
    color: #808080;
}

/* banners and splash screens */
.topBanner{
    vertical-align: bottom;
    display: inline-block;
    width: 100%;
}

.topBanner ul{
    display: inline-block;
    padding-left: 15px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.topBanner li{
    display: inline-block;
    padding-right: 20px;
}

.topBannerRight{
    display: inline-block;
    float: right;
    padding-right: 40px;
}

.splash{
    color: #333333;
    display: block;
    font-family: 'Russo One', sans-serif;
    font-size: 48px;
    text-align: center;
}

.miniSplash a{
    color: #333333;
    display: inline-block;
    font-family: 'Russo One', sans-serif;
    font-size: 26px;
    text-decoration: none;
}

.miniSplash a:hover{
    text-decoration: none;
}

.miniSplash a:visited{
    color: #333333;
    text-decoration: none;
}

/* search bars */
#searchBar{
    font-size: 20px;
    color: black;
    padding: 3px;
    margin: 0px;
    outline: 0px;
    border: 1px solid #adadad;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 100%;
}

#searchForm{
    display: block;
    position: relative;
    width: 425px;
    margin: 0px auto;
    z-index: 1;
    padding: 0px;
    color: #ccc;
}

#searchIcon{
    display:block;
    width: 24px;
    height:24px;
    background:url('/static/search_icon.gif') 4px 4px no-repeat;
    position: absolute;
    right: -3px;
    top: 4px;
    color: #FFD100;
    cursor: pointer;
    outline: none;
    text-decoration: underline;
    text-align: center;
}

/* user login/logout elements */
#userInfoItem{
    font-size: 12px;
    color: #808080;
    text-align: right;
}

#userInfoItem div{
    display: inline-block;
}

#userInfoItem .email{
    font-weight: bold;
    line-height: 140%;
}

#userInfoItem .signOut{
    line-height: 140%;
}

#userInfoItem img{
    vertical-align: top;
    border: 1px solid #acacac;
    margin-left: 8px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    width: 30px;
    height: 30px;
}