.resultList{

}

.lit{
    font-weight: bold;
    color: black;
}

.unlit{
    font-weight: normal;
    color: lightgray;
}

.statBlock {
    font-size: 11px;
}

.statBlock div{
    display: inline-block;
    vertical-align: middle;
}

.statBlock span{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.statBlock div span{
    display: block;
    color: lightgray;
}

.statBlock .max{
    font-size: 200%;
}