<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>Medloot.com - {% block title %}{% endblock %}</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    {% endblock %}
</head>
<body>
    <div class="topBannerContainer">
        <ul class="topBannerLeft">
            <li class="miniSplash"><a href="/">MedLoot.com</a></li>
            <li><a href="/">Search</a></li>
            <li><a href="/browse">Browse</a></li>
        </ul>
        <ul class="topBannerRight">
            <li>
                <a href="#">Tools</a>
                <ul>
                    <li><a href="/tools/autoquest">Autoquest</a></li>
                    <li><a href="/tools/xpxp">XPXP</a></li>
                </ul>
            </li>
            <li class="admin">
                {% if is_admin_user %}
                <a href="/admin">Admin</a>
                {% endif %}
            </li>
            {% if user %}
            <li id="userInfoItem">
                <div>
                    <span id="email" class="email" style="display: block;">{{ user.email() }}</span>
                    <div style="display: block"><a id="signOut" class="signOut" href="{{ signOutUrl }}">Sign out</a></div>
                </div>
                <img src="/static/silhouette.png" />
            </li>
            {% else %}
            <li>
                <a id="signIn" href="{{ signInUrl }}">Sign in</a>
            </li>
            {% endif %}
        </ul>
        <div style="clear: both;"></div>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>