{% extends "templates/base.html" %}

{% block title %}Browse{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/ui-darkness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="/static/home.js"></script>
    <script src="/static/search.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/search.css" />
{% endblock %}

{% block content %}
<div class="contentContainer" style="margin-top: 15px;">
    <div>
        {% include 'templates/partial/filter.html' %}

        <div />

        {% include 'templates/partial/result_list.html' %}
    </div>
</div>
{% endblock %}