<!DOCTYPE html>
<html>
<head>
    <title>Medloot.com - Search</title>
    <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/ui-darkness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script src="/static/home.js"></script>
    <script src="/static/search.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <link type="text/css" rel="stylesheet" href="/static/search.css" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
    <div class="topBanner">
        <ul>
            <li class="miniSplash"><a href="/">MedLoot.com</a></li>
            <li>
                <form id="searchForm" onsubmit="return false">
                    <input id="searchBar" type="text" value="{{query}}"/>
                    <a id="searchIcon"></a>
                </form>
            </li>
        </ul>
        <ul class="topBannerRight">
            <li>
                {% if is_admin_user %}
                <a href="/admin">Admin</a>
                {% endif %}
            </li>
        </ul>
    </div>

    <!-- put a filter box here -->
    <!--
    <div style="border: 1px solid #e9e9e9;">
        <ul>
            <li style="border: 1px solid #e9e9e9; background-color: #e9e9e9; padding: 5px; width: 75%; ">
                <span>Filters</span>
                <span style="float: right;" class="ui-icon ui-icon-circle-plus"></span>
            </li>
            <li>

            </li>
        </ul>
    </div>
    -->

    <div style="margin-top: 20px;">
        <table id="resultTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>A-M</th>
                    <th>A-W</th>
                    <th>A-T</th>
                    <th>A-C</th>
                    <th>XdX</th>
                    <th>hp</th>
                    <th>mana</th>
                    <th>hr</th>
                    <th>dr</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr id="resultRow{{ loop.index }}" class="resultRow" rowNum="{{ loop.index }}">
                    <td>{{ loop.index }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.item_type }}</td>
                    <td class="boxBorder">{% if item.get_effect_value("ANTI-MAGE") %}X{% endif %}</td>
                    <td class="boxBorder">{% if item.get_effect_value("ANTI-WARRIOR") %}X{% endif %}</td>
                    <td class="boxBorder">{% if item.get_effect_value("ANTI-THIEF") %}X{% endif %}</td>
                    <td class="boxBorder">{% if item.get_effect_value("ANTI-CLERIC") %}X{% endif %}</td>
                    <td class="boxBorder">{% if item.damage_dice1 %}{{ item.damage_dice1 }}d{{ item.damage_dice2 }}{% endif %}</td>
                    <td class="boxBorder">{{ item.get_affect_value("HIT_POINTS") }}</td>
                    <td class="boxBorder">{{ item.get_affect_value("MANA") }}</td>
                    <td class="boxBorder">{{ item.get_affect_value("HITROLL") }}</td>
                    <td class="boxBorder">{{ item.get_affect_value("DAMROLL") }}</td>
                </tr>
                <tr id="displayRow{{ loop.index }}" class="displayRow"><td colspan="12"><textarea style="height: 230px; width: 800px;">{{ item.to_string() }}</textarea></td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
