<!-- filters -->
<div class="filterWrapper">
    <div class="filterGroupHeading">Filters</div>
    <table id="filterTable">
        <tr class="filterGroup">
            <td class="filterLabel"><label>Class:</label></td>
            <td>
                <div class="filterButtonGroup">
                    <button classFilterButton filter="!M">Mage</button><button classFilterButton filter="!C">Cleric</button><button classFilterButton filter="!T">Thief</button><button classFilterButton filter="!W">Warrior</button>
                </div>
            </td>
        </tr>
        <tr class="filterGroup">
            <td class="filterLabel"><label>Stats:</label></td>
            <td>
                <div class="filterButtonGroup">
                    <button numberFilterButton filter="hp">Hp</button><button numberFilterButton filter="mana">Mana</button><button numberFilterButton filter="hr">HR</button><button numberFilterButton filter="dr">DR</button>
                </div>
            </td>
        </tr>
        <tr class="filterGroup">
            <td class="filterLabel"><label>Equipable Location:</label></td>
            <td>
                <div id="equipableLocationFilterGroup" class="filterButtonGroup">
                    <!-- javascript fill in dynamically the options -->
                </div>
            </td>
        </tr>
        <tr class="dynamicFilterGroup" filterGroupValue="influence">
            <td class="filterLabel"><label>Influence:</label></td>
            <td>
                <div class="filterButtonGroup">
                    <!-- javascript fill in dynamically the options -->
                </div>
            </td>
        </tr>
        <tr class="dynamicFilterGroup" filterGroupValue="savingThrow">
            <td class="filterLabel"><label>Saving Throw:</label></td>
            <td>
                <div class="filterButtonGroup">
                    <!-- javascript fill in dynamically the options -->
                </div>
            </td>
        </tr>
    </table>
</div>